{% load static %}
<html lang="en">
<head>
    <title>Графики</title>
    <link rel="stylesheet" href="{% static 'Chart.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <style>
        .wrapper {
            max-width: 94%;
            margin: 3% auto;
        }

        .wrapper canvas {
            margin-bottom: 10%;
        }

        .wrapper canvas:last-of-type {
            margin-bottom: 0;
        }
    </style>
</head>
<body>

<div class="wrapper">

    <canvas id="tags_chart" width="11" height="5"></canvas>
    <canvas id="comparison_chart" width="11" height="5"></canvas>
    <canvas id="count_news_chart" width="11" height="5"></canvas>
    <canvas id="boxplot_news_chart" width="11" height="5"></canvas>
    <canvas id="count_words_chart" width="11" height="5"></canvas>
    <canvas id="boxplot_words_chart" width="11" height="5"></canvas>
</div>

<script type="text/javascript" src="{% static 'jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Chart.js' %}"></script>
<script type="text/javascript" src="{% static 'Color.js' %}"></script>
<script type="text/javascript" src="{% static 'ChartBoxPlot.min.js' %}"></script>

<script type="text/javascript">

    Chart.defaults.global.defaultFontSize = 24;
    Chart.defaults.global.title.fontSize = 36;

    $.get('{% url "line_chart_json" %}', function (data) {
        window.setTimeout(function () {
            var const_data = data
            new Chart($("#tags_chart").get(0).getContext("2d"), {
                type: 'bar',
                data: const_data.data,
                options: const_data.options
            });
        }, 200);
    });


    $.get('{% url "comparison_chart_json" %}', function (data) {
        window.setTimeout(function () {
            new Chart($("#comparison_chart").get(0).getContext("2d"), {
                type: 'polarArea',
                data: data.data,
                options: data.options
            });
        }, 800);
    });


    $.get('{% url "newsperweek_chart_json" %}', function (data) {
        window.setTimeout(function () {
            new Chart($("#count_news_chart").get(0).getContext("2d"), {
                type: 'line',
                data: data.data,
                options: data.options
            });
        }, 1600);
    });



    $.get('{% url "boxplot_news_chart_json" %}', function (data) {
        window.setTimeout(function () {
            new Chart($("#boxplot_news_chart").get(0).getContext("2d"), {
                type: 'boxplot',
                data: data.data,
                options: data.options
            });
        }, 2400);
    });


    $.get('{% url "wordsperweek_chart_json" %}', function (data) {
        window.setTimeout(function () {
            new Chart($("#count_words_chart").get(0).getContext("2d"), {
                type: 'line',
                data: data.data,
                options: data.options
            });
        }, 3200);
    });

    $.get('{% url "boxplot_news_chart_json" %}', function (data) {
        window.setTimeout(function () {
            new Chart($("#boxplot_news_chart").get(0).getContext("2d"), {
                type: 'boxplot',
                data: data.data,
                options: data.options
            });
        }, 4000);
    });

    $.get('{% url "boxplot_words_chart_json" %}', function (data) {
        window.setTimeout(function () {
            new Chart($("#boxplot_words_chart").get(0).getContext("2d"), {
                type: 'boxplot',
                data: data.data,
                options: data.options
            });
        }, 4800);
    });


</script>
</body>
</html>